_site
Gemfile.lock
.sass-cache
.jekyll-metadata
.DS_Store
_source/*.png
_source/*.md
_source/**/*.png
_source/*.pdf
_source/*.html
_source/.Rhistory
.pytest_cache/
.Rproj.user
.Rbuildignore
jenslaufer.github.io.Rproj
_drafts/*copy.Rmd
.Rhistory
_drafts/2019-09-20-How_to_get_R_work_with_Python.html
