dist/
_drafts/2019-09-20-How_to_get_R_work_with_Python.html
_drafts/*copy.Rmd
.DS_Store
Gemfile.lock
.jekyll-metadata
jenslaufer.github.io.Rproj
__pycache__/
.pytest_cache/
.Rbuildignore
.Rhistory
.Rproj.user
.sass-cache
_site
_source/*.html
_source/*.md
_source/*.pdf
_source/**/*.png
_source/*.png
_source/.Rhistory
.venv/
